body{
background-color: #C0C0C0;
  }
hr{
  border-style: dotted none none ;
  border-color: grey ;
  border-width:5px;

width: 10% ;

}
h1{
color: #66bfbf;
}
h3{
  color: #66bfbf ;
}
